.page__main {
    border: none;
    position: inherit;
}
.cart__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart__total-item {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/* css for cart__list */
.cart__list-wrap {
    /* border: 1px solid #ccc; */
    width: 70%;
    margin-right: 1rem;
}

.cart__list {
    list-style-type: none;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

/* css for edit component */
.cart__edit-component {
    display: none;
    width: 32rem;
    /* height: 10rem; */
    padding: 1.6rem 1.8rem 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    bottom: -90%;
    right: 7.8rem;
    z-index: 10;
}

.edit__select {
    font-size: 1.4rem;
    padding: 0.3rem 0.2rem;
}
.edit__option {
}

.edit__item {
    margin-bottom: 1rem;
}
.edit__label {
    font-size: 1.4rem;
    color: black;
    margin: 0 0.5rem 0 0.5rem;
}

.edit__quantity input {
    width: 4rem;
    height: 2.5rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.edit__button-wrap {
    display: flex;
    justify-content: flex-end;
}

.edit__button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border-radius: 3px;
    cursor: pointer;
}
.edit__button--gray {
    background-color: rgb(148, 148, 148);
}

/* css for cart item */
.cart__item-info {
    display: flex;
    align-items: center;
}

.cart__item-checkbox-wrap {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #fff;
}
.cart__item-checkbox {
    margin-right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    cursor: pointer;
    accent-color: red;
}

.cart__item-image {
    width: 14rem;
    margin-right: 2rem;
    background-color: #e7e7e7;
    border-radius: 3px;
    padding: 0 1rem;
}

.cart__item-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}
.cart__item-price-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.cart__item-price {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.cart__item-price--old {
    text-decoration: line-through;
    color: #ccc;
}

.cart__item-price--discount {
    color: #e74c3c;
}

.cart__item-detail {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 0.2rem;
    /* font-weight: bold; */
}

.cart__item-actions {
    margin-left: auto;
}

.cart__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.cart__button-icon {
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 0.5rem;
}
.cart__button-icon--remove {
    color: #e74c3c;
}

.cart__item-edit {
    position: inherit;
}

/* css for cart_summary */
.cart__summary-wrap {
    width: 30%;

    /* padding: 1rem 1rem 2rem; */
}
.cart__summary {
    border-radius: 3px;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.cart__summary-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.4rem;
    text-align: center;
}

.cart__summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.cart__summary-label {
    font-weight: bold;
}
.summary__final-total-wrap .cart__summary-value {
    font-weight: bold;
    font-size: 2.4rem;
}
.cart__checkout-button {
    width: 100%;
    padding: 1rem;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}
