/* Tác giả: Nguyễn Huy Lợi MSSV: B2306556 
    Tài liệu tham khảo học tập của thầy Nguyễn Văn Linh, LAB 2 và anonymous sticky*/

/* Phần main đã được css bởi base css cho đồng bộ, ngoài ra còn thuộc layout grid 1 cột */
.page__main {}

/* Chỉ có một block container là article nên xem nó như main
    Và cho các section trong article có display là block hoặc flex nên đã theo layout mong muốn*/
.main__article {}

/* Khối section main__order */
.main__order {
    display: flex;
    flex-wrap: wrap;
}

/* ảnh trượt chiếm 2/3 chiều ngang*/
.order__slide {
    flex: 2;
    border: 1px solid;
    /* Do dùng số lượng ảnh * 100% nên ảnh sẽ tràn ra ngoài nên cần ẩn đi ảnh tràn */
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
}

.slide__transition {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    /* đảm bảo chiều cao */
    width: 100%;
}

/* hai nút bấm cho slide trượt
    dùng cách tạo đường gạch chân cho h1 để căn giữa nút bấm theo chiều dọc */
#slide__prev,
#slide__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    padding: 8px;
    border-radius: 50%;
}

#slide__prev {
    left: 10px;
}

#slide__next {
    right: 10px;
}

.order__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
    background-color: #f5f5f5;
    /* để lấp vùng trống nếu ảnh nhỏ hơn khung */
}

/* Lựa chọn bên cạnh ảnh trượt chiếm 1/3 chiều ngang*/

.main__opt {
    flex: 1;
    margin-left: 20px;
    padding-top: 20px;
    line-height: 30px;
}

.opt__infor {}

.opt__age {
    color: #956a29;
}

.opt__title {
    font-size: 2rem;
}

.opt__type {
    color: gray;
    font-weight: 200;
    cursor: pointer;
}

.opt__price {
    font-size: 1.6rem;
    font-weight: 500;
}

.opt__img-color {
    display: flex;
    flex-wrap: wrap;
}

.opt__img-color h2 {
    width: 100%;
}

.opt__img-color p {
    width: 100%;
    color: rgb(56, 57, 57);
    font-size: 1.4rem;
}

.img-color {
    width: 70px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.opt__size {
    margin-top: 20px;
}

.size__title {
    display: inline;
}

.size__select {
    display: inline;
    width: 6rem;
    padding: 3px 10px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.size__table a {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: coral;
}

.opt__quantity {
    display: flex;
    gap: 1rem;
}

.opt__quantity label {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.opt__quantity input {
    width: 3rem;
    font-size: 1.6rem;
    text-align: center;
}

.opt__add {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}

.add__button {
    border-radius: 5px;
    font-size: 2rem;
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.add__button--buy {
    background-color: coral;
}

.add__button:hover {
    box-shadow: 4px 4px 4px rgb(104, 113, 53);
}



/* CSS cho Phần mô tả */

.main__description {
    margin-top: 30px;
}

.title--primary {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    line-height: 34px;
    margin: 12px 0 16px 0;
}

.title--primary::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 20%;
    height: 3px;
    background: radial-gradient(black, #fff);
    transform: skewX(12deg) translateX(-50%);
}

/* Responsive cho cho phần mô tả dùng flex cùng điểm gãy */

.description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

/* flex-items */
.description__common {
    font-size: 1.6rem;
    flex: 1;
    line-height: 30px;
    padding: 10px;
    text-align: justify;
}

.description__common p {
    margin-left: 10px;
}

/* liên kết đến đky đnhap trong phần chính sách giao hàng và hoàn trả */
.description__common p a {
    text-decoration: none;
}

.description__common p a:hover {
    color: coral;
}

.description__title--secondary {
    font-size: 2rem;
    margin-bottom: 10px;
}

.detail__list {
    padding: 0 2.1rem;
}

/* CSS phần review */

.main__review {
    margin-top: 30px;
}

.review__content {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.review__star {
    border: none;
    /* vì các ngôi sao tô màu ngược nên cần rtl đồng thời làm cho khối ngôi sao căn phải*/
    direction: rtl;
    flex: 1;
}

/* Ẩn radio  đi để thay bằng ngôi sao */
.review__star>input {
    display: none;
}

/* Thêm ngôi sao vào gắn vào lable => click vao lable sẽ chọn vào inpur bị ẩn */
.review__star>label::before {
    margin: 5px;
    font-size: 1.5rem;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.review__star>label {
    color: #ddd;
    cursor: pointer;
}

/* do dùng ~ nên các ngôi sao bị tô màu ngược */
.review__star input:checked~label {
    color: gold;
}

.review__star label:hover,
.review__star label:hover~label {
    color: gold;
}

.start {}

/* Phần comment */

.review__comment {
    flex: 1;
}

.review__comment textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    min-width: 240px;
    padding: 2px;
    font-size: 1.4rem;
    font-weight: 500;
}

textarea::placeholder {
    color: rgb(39, 38, 38);
    font-size: 1.6rem;
}

.focus {
    border: cyan solid 2px;
}

/* button gui review */

.review__submit {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.button__submit {
    width: 10%;
    height: 30px;
    min-width: 30px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin: 0 auto;
}

.button__submit:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgb(104, 113, 53);
}


/* RWD cho tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .order__slide {
        min-width: 600.6px;
    }

    .main__opt {
        min-width: 600.8px;
    }

    .description__common {
        min-width: 600px;
    }
}

/* RWD cho mobile */

@media (max-width: 739px) {

    .order__slide {
        min-width: 400px;
    }

    .main__opt {
        min-width: 400px;
    }

    .description__common {
        min-width: 400px;
    }

    .review__content {
        display: flex;
        flex-wrap: wrap;
    }

    .review__star {
        display: flex;
        justify-content: center;
        width: 100%;
    }


    .review__comment {
        min-width: 100%;
        display: flex;
    }

    #comment {
        margin: 0 auto;
    }
}