/* html {
    min-width: 498px;
}

* {
    box-sizing: border-box;
    margin: 0;
}


.page__main {
}

.page__footer {
    margin-top: 20px;
    height: 50px;
    background-color: #6bd3f0;
}
*/

.main__order {
    display: flex;
    flex-wrap: wrap;
}

/* ảnh trượt */
.order__slide {
    flex: 2;
    border: 1px solid;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    min-width: 320px;
}

.slide__transition {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* đảm bảo chiều cao */
    width: 100%;
}

#slide__prev,
#slide__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    padding: 8px;
    border-radius: 50%;
}

#slide__prev {
    left: 10px;
}

#slide__next {
    right: 10px;
}

.order__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
    background-color: #f5f5f5; /* để lấp vùng trống nếu ảnh nhỏ hơn khung */
}

/* Lựa chọn bên canh ảnh trượt */

.main__opt {
    flex: 1;
    margin-left: 20px;
    padding-top: 20px;
    line-height: 30px;
    min-width: 160px;
}

.opt__age {
    color: #956a29;
}

.opt__header {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.opt__add-to-cart {
    font-size: 1.4rem;
    border: 1px solid gray;
    background-color: #bfc2c3;
    border-radius: 5px;
    cursor: pointer;
}

.opt__title {
    font-size: 2rem;
}

.opt__type {
    color: gray;
    font-weight: 200;
    cursor: pointer;
}

.opt__price {
    font-size: 1.6rem;
    font-weight: 500;
}

.opt__img-color {
    display: flex;
    flex-wrap: wrap;
}

.opt__img-color h2 {
    width: 100%;
}

.img-color {
    width: 70px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.opt__size {
    margin-top: 20px;
}

.size__title {
}

.size__select {
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    border-radius: 5px;
    padding-left: 10px;
}

.size__table a {
    font-size: 1.4rem;
    text-decoration: none;
    color: gray;
}

.opt__add {
    margin-top: 20px;
}

.add__button {
    border-radius: 5px;
    font-size: 2rem;
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    margin-bottom: 20px;
    cursor: pointer;
}

.add__pick {
    display: flex;
    border: 1px solid gray;
    background-color: rgb(240, 231, 231);
    padding: 10px;
    align-items: flex-start;
    gap: 8px;
}

.add__pick label {
    cursor: pointer;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: black;
}

.pick-ship,
.pick-store {
    line-height: 24px;
}

.pick__title {
    font-size: 1.8rem;
    font-weight: 500;
}

.pick__descript,
.pick-store__address a {
    font-size: 1.4rem;
    color: gray;
}

/* Phần mô tả */

.main__description {
    margin-top: 30px;
}

.title--primary {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 20px;
}

.title--primary::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 20%;
    height: 3px;
    background: radial-gradient(black, #fff);
    transform: skewX(12deg) translateX(-50%);
}

.description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description__common {
    font-size: 1.6rem;
    flex: 1;
    line-height: 30px;
    min-width: 500px;
}

.description__common p {
    margin-left: 10px;
}

/* liên kết đến đky đnhap trong phần chính sách giao hàng và hoàn trả */
.description__common p a {
    text-decoration: none;
}

.description__title--secondary {
    font-size: 2rem;
    margin-bottom: 10px;
}

.detail__list {
}

/* Phan review */

.main__review {
    margin-top: 30px;
}

.review__content {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.review__star {
    border: none;
    /* vì các ngôi sao bi ngược nên khi float right về đúng vị trí thì sẽ căn phải nên float left lại */
    direction: rtl;
    float: left;
    flex: 1;
}

/* Ẩn radio  đi để thay bằng ngôi sao */
.review__star > input {
    display: none;
}

.review__star > label::before {
    margin: 5px;
    font-size: 1.5rem;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.review__star > label {
    color: #ddd;
    cursor: pointer;
}

.review__star input:checked ~ label {
    color: gold;
}

.review__star label:hover,
.review__star label:hover ~ label {
    color: gold;
}

.start {
}

/* Phần comment */

.review__comment {
    flex: 1;
}
.review__comment textarea {
    border: 1px solid black;
    width: 50%;
    height: 60px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    min-width: 240px;
}

textarea::placeholder {
    color: rgb(39, 38, 38);
    font-size: 1.6rem;
}

/* button gui review */

.review__submit {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.button__submit {
    width: 10%;
    height: 30px;
    min-width: 30px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin: 0 auto;
}

/* responsive cho review */
