/* ===== ĐỊNH NGHĨA GIRD VÀ VÙNG ===== */
.page {
    display: grid;

    grid-template-areas: "header-cell" "main-cell" "footer-cell";

    margin: 0 auto;
    border: 1px solid;
    padding: 0 5px;
    max-width: 1440px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    border: dashed blue;
}
.page__header {
    grid-area: header-cell;
    border: 3px solid red;
}
.header__nav {
    border: 1px solid black;
    padding-top: 10px;
    display: flow-root;
}
.page__content {
    grid-area: main-cell;
    border: 3px solid purple;
}
.page__footer {
    grid-area: footer-cell;
    border: 3px solid black;
}

/* --- Định nghĩa bổ sung cho main --- */
.page__content{
    /* grid-area: main_cell; */
    display: grid;      /*  Nested-gird muc I */
    border-radius: 5px;
    padding: 0 5px;
}

/* ===== Định nghĩa MAIN thành hai cột ===== */
.page__content--one-column{
    /* grid-template-columns: auto; co the dinh nghia mot o nhu nay  */
    display: grid;
    grid-template-columns: 23fr 73fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "banner-cell banner-cell" 
        "filter-cell product_listing-cell";
}
/* --- Định nghĩa BANNER thành hàng thứ nhất ---*/
.page-content__title--one-column {
    /* border: solid red; */
    grid-area: banner-cell;
}
/* --- Định nghĩa FILTER dạt trái hàng thứ hai --- */
.product-filter-listing--two-column-leftside {
    /* border: solid yellow; */
    grid-area: filter-cell;
}
/* --- Định nghĩa PRODUCT-LISTING dạt phải hàng thứ hai --- */
.product-filter-listing--two-column-rightside {
    border: solid green;
    border-left: 1px solid rgba(0,0,0,0.3);
    grid-area: product_listing-cell;
}

/* ===== Định nghĩa BANNER kiểu FLEX row ===== */
.page-content__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

/* ===== Định nghĩa FILTER kiểu FLEX column ===== */
.product-filter {
    display: flex;
    flex-direction: column;     /* default là row */
    align-items: flex-start;    /* default là stretch nên cần chỉnh */
    flex-wrap: nowrap;          /* default là wrap sẽ làm bể bố cục */
    overflow: hidden;           /* phần sổ ra nhiểu hơn chiều dài mặc định nên có của cha thì sẽ bị ẩn */
    padding:  0 3rem 0 6px;
}
    /* --- Tạo cho BFC của filter title một đường gạch dưới ---  */
    .product-filter__title {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        width: 100%;
        margin: 2rem 0 2rem 0;
        padding-bottom: 1rem;
    }
    /* --- các GROUP filter ---  */
    .product-filter__group {
        /* border: 1px solid red; */
        margin-bottom: 2rem;
        width: 100%;

    }
        .filter-group__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 2rem;
            margin: 0 1rem;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid rgba(0,0,0,0.3);
        }
            .filter-group__title h4 {
                margin: 0;
            }
            .filter-group__custom-checkbox {
                display: flex;
                align-items: flex-end;
                justify-content: center;

                aspect-ratio: 1/ 1;
                height: 100%;
                padding: 0.6rem 0 0.8rem 0.7rem;
                /* margin: 0.7rem; */
                
                cursor: pointer;
            }
                .filter-group__custom-checkbox input[type="checkbox"] {
                    display: none;
                }
                .filter-group__custom-checkbox span {
                    display: flex;
                    align-items: center;
                    aspect-ratio: 1/ 1;
                    height: 60%;
 
                    background-image: url(../images/products/product_bottom_arrow_black.png);
                    background-size: cover;
                    background-position: center;
                    
                }
                .filter-group__options {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    margin: 0.3rem 1rem;
                    padding-bottom: 0.3rem;
                }
                    .filter-group-option__custom-checkbox {
                        display: flex;
                        align-items: center;
                        margin: 0.3rem 0;
                    }
                        /* ----- Tạo khoảng cách giữ check box và text ------  */
                        .filter-group-option__custom-checkbox span {
                            margin-left: 0.4rem;
                        }
                .filter-group__custom-checkbox input[type="checkbox"]:checked + span{
                    background-image: url(../images/products/product_top_arrow_black.png);
                }
                .




        .product-filter__options {
            margin: 1.5rem 0 0 0;
            /* border: solid pink; */
            padding: 0;
        }
            .product-filter__option {
                margin: 0 0 1.5rem -0.3rem;
                padding: 0.3rem;
                
            }
            /* --- Tạo hiệu ứng lớp nền xám nhạt khi hover ---  */
            .product-filter__option--visual-hower:hover {
                border-radius: 0.15rem;
                background-color: rgba(0,0,0,0.08);
            }
            
            /* --- Bỏ point đánh dấu cho <li> của các checkbox ---  */
            .product-filter__option--nonpoint::marker{
                content: "";
            }
                .product-filter__label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
                    .product-filter__checkbox--custom {
                        accent-color: red;
                        transform: scale(1.5) translateY(1%);
                        margin-right: 0.8rem;
                    }


/* ===== Định nghĩa PRODUCT-LISTING kiểu Flex column ===== */
.product-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px 0 23px;
}
    .product-listing__grid {
        display: grid;
        grid-template-columns: 21.125rem 21.125rem 21.125rem;
        gap: 2rem;
        padding: 1rem;
    }
        .product-card {
            background-image: url("../images/products/product-card_ADIDAS-backgroud_01.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 1.1875rem;
            padding: 1.375rem;

            text-align: center;
            position: relative;

            display: grid;
            grid-template-areas: 
                "title-cell         title-cell"
                "size-cell          fav-cell"
                "size-cell          color-cell"
                "price-cell         color-cell"
                "buy_button-cell    buy_button-cell";
        }
            .product-card__title-cell {
                grid-area: title-cell;
            }
            .product-card__size-cell {
                grid-area: size-cell;
                height: 22.25rem;
            }
            .product-card__favourite-cell {
                grid-area: fav-cell;
            }
            .product-card__price-cell {
                grid-area: price-cell;
            }
            .product-card__color-cell {
                grid-area: color-cell;
            }
            .product-card__buy-cell {
                grid-area: buy_button-cell;
            }

            /* ===== Sale phần trăm gốc trên, trái =====  */
            .product-card__sale-persent {
                position: absolute;
                width: 3.625rem;
                height: 2.25rem;
                background-color: red;
                border-radius: 1.1rem 0 0.5rem 0;

            }
                .sale-persent__number {
                    margin: 0.5rem;
                    color: white;
                    font-size: 10;
                }
            
            /* ===== Ảnh giày chính =====  */
            .product-card__image {
                /* border: 1px solid red; */
                width: 100%;
                height: 18.75rem;

                position: absolute;
                top: 12.375rem;
                z-index: 0;

                background-image: url(../images/products/product_1/Giay_Chay_Bo_Pureboost_5_Mau_xanh_da_troi_IF9194_06_standard.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
                /* .product-card__image img {
                    
                } */
            /* --- Đặt lại các z-index để img kh che các nút ---  */
            .product-card *:not(.product-card__image, .product-card__sale-persent) {
                position: relative;
                z-index: 1;
            }
            /* ===== TITLE Chính của product-card =====  */
            .product-card__title-cell {
                /* border: 1px solid green; */
                margin: 3rem 0 1.4375rem 0;

            }
                .product-card-title-cell__name {
                    margin: 0 0 0.4375rem 0;
                }
                .product-card-title-cell__genttle {
                    margin: 0 0 0 0;
                    color: rgba(0,0,0,0.3);
                }

            /* ===== SIZE + FAV + PRICE + COLOR ===== */
            .product-card__size-cell,
            .product-card__favourite-cell,
            .product-card__color-cell,
            .product-card__price-cell {
                display: flex;
                flex-direction: column;
                align-items: flex-start;    
            }
            /* ---- Title thuộc tính -----  */
            .product-card-size-cell__title,
            .product-card-favourite-cell__title,
            .product-card-color-cell__title,
            .product-card-price-cell__title {
                margin: 0 5px 0 0;

                font-size: 0.9rem;
            }
            
            /* ----- SET margin trên và dưới -----  */
            .product-card-size-cell__custom-radio,
            .product-card-favourite-cell__custom-radio {
                margin-top: 0.875rem;
            }
            .product-card-color-cell__custom-radio {
                margin-bottom: 0.875rem;
            }
            
            /* --- Xóa ô radio mặc định ---  */
            .product-card-size-cell__custom-radio input[type="radio"],
            .product-card-favourite-cell__custom-radio input[type="checkbox"],
            .product-card-color-cell__custom-radio input[type="radio"] {
                display: none;
            }
                /* --- Custom lại block chọn ---  */
                .product-card-size-cell__custom-radio b,
                .product-card-favourite-cell__custom-radio span,
                .product-card-color-cell__custom-radio span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    width: 2.25rem;
                    height: 2.25rem;
                    border: 2px solid rgba(0,0,0,0.25);
                    border-radius: 0.6875rem;
                    
                    cursor: pointer;

                    font-size: 0.9rem;
                }
                /* --- Thay đổi khi được chọn ---  */
                .product-card-size-cell__custom-radio input[type="radio"]:checked + b ,
                .product-card-favourite-cell__custom-radio input[type="checkbox"]:checked + span{
                    background-color: #111;
                    border: 2.3px solid #111;

                    color: #fff;
                }
                .product-card-color-cell__custom-radio input[type="radio"]:checked + span {
                    border: 2.3px solid #111;
                }
            .product-card__color-cell {
                flex-direction: column-reverse;
                align-items: flex-end;
            }
            .product-card__favourite-cell {
                align-items: flex-end;
                height: 5.5625rem;
            }
                .product-card__favourite-cell span {
                    color: rgba(0,0,0,0.25);
                }
                    .product-card-color-cell__product-color {
                        width: 0.625rem;
                        height: 0.625rem;
                        border-radius: 0.25rem;
                        
                        /* màu sẽ tạo theo products.json  */
                        background-color: red;
                    }
            .product-card__price-cell {
                flex-direction: column-reverse;
            }
                
                .product-card-price-cell__original {
                    margin: 0 0 0.3rem 0;

                    color: rgba(0,0,0,0.5);
                    text-decoration: line-through;
                    font-size: 1.25rem;
                }
                .product-card-price-cell__then-price {
                    margin: 0 0 0.5rem 0;

                    color: red;
                    font-size: 1.5rem;
                }

            .product-card__buy-cell {
                display: flex;
                justify-content: space-between;

                margin-top: 3.3125rem;
            }
                .product-card-buy-cell-add-to-cart__custom-button input[type="button"],
                .product-card-buy-cell-buy-now__custom-button input[type="button"] {
                    display: none;
                }
                .product-card-buy-cell-add-to-cart__custom-button span,
                .product-card-buy-cell-buy-now__custom-button strong {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    width: 3.375rem;
                    height: 3.375rem;
                    border: 2.3px solid rgba(0,0,0);
                    border-radius: 0.6875rem;
                    background-image: url(../images/products/product-card__add-cart.png);
                    
                    cursor: pointer;
                }
                .product-card-buy-cell-buy-now__custom-button strong {
                    width: 13rem;
                    background-image: none;
                    background-color: #111;
                    color: #fff;

                    transition: transform 1s ease;
                }
                .product-card-buy-cell-add-to-cart__custom-button span:active {
                    transform: scale(0.9);
                }

        .product-card .product-card__image{
            transition: transform 0.6s ease;
        }
        .product-card:hover .product-card__image{
            transform: scale(1.2);
            background-image: url("../images/products/product_1/Giay_Chay_Bo_Pureboost_5_Mau_xanh_da_troi_IF9194_02_standard.png");
        }
